.banner-img {
  height: 400px;
  object-fit: cover;
}
body {
    padding-top: 70px;
    background-color: #f8f9fa;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    overflow-x: hidden; 
}
.hero-section {
    background: url('../img/banner.jpeg') no-repeat center center;
    
    background-size: cover; 
    min-height: 500px;
    
    position: relative;
    z-index: 1;
}
.hero-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}
.hero-section .container-fluid {
    position: relative;
    z-index: 2; 
}
.conteudo {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.gavioes-section {
    margin-top: 40px;
}
.itaquera {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.footer-full-width {
    width: 100vw; 
    margin-left: calc(50% - 50vw);
    overflow-x: hidden;
}
.footer-text{
    color: rgb(97, 97, 97);
}
